@import '../../styles/variables';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: px-to-rem(300);
  height: px-to-rem(300);
  background-color: $color-gray;
  border: 1px solid #fff;
  padding: px-to-rem(15);
  box-sizing: border-box;
  &-title {
    font-size: px-to-rem(18);
    color: $color-text-white;
    transition: color 0.2s ease-in;
    height: px-to-rem(44);
    &:hover {
      color: $color-red;
    }
  }
  &-img {
    width: 100%;
    &-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: px-to-rem(270);
      height: px-to-rem(170);
    }
  }
  &-icons {
    margin-top: px-to-rem(10);
    display: flex;
    flex-direction: row;
    gap: px-to-rem(15);
    height: px-to-rem(30);
    width: 100%;
  }
  &-icon {
    width: px-to-rem(30);
    height: px-to-rem(30);
    cursor: pointer;
  }
  &-price {
    position: absolute;
    bottom: px-to-rem(15);
    right: px-to-rem(15);
    display: flex;
    flex-direction: column;
    align-items: center;

    &-value {
      color: $color-red;
      font-family: Edo;
      font-size: px-to-rem(35);
      margin-bottom: px-to-rem(-3);
    }
    &-currency {
      color: $color-text-white;
      font-weight: bolder;
    }
  }
}

.opacity {
  visibility: hidden;
}
